body {
  margin: 5px;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  background-color: #fff;
  color: #444;
}

.box {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: darkslategray;
  background-color: darkslategray;
  color: white;
  padding: 20px;
  font-size: 150%;
  user-select: none;
}

.box--locked {
  background-color: ghostwhite;
  color: black;
}

.box--selected {
  background-color: gold;
  border-color: darkslategray;
  color: black;
}

.u2 {
  grid-column: auto / span 2;
}

.u3 {
  grid-column: auto / span 3;
}
